/* kv */
.kv-block{
	position: relative;
	.center{
		max-width: 1280px;
	}
	.kv-desc{
		width: 50%;
		p.title{
			margin-bottom: 16px;
			font-size: calc(5.6 * var(--font-size));
			font-weight: 800;
		}
		p.desc{
			margin-bottom: 28px;
			font-size: calc(2.2 * var(--font-size));
			color: $dark;
			line-height: 1.6;
		}
		a.cta-btn{
			padding: 16px 52px;
			font-size: calc(2.2 * var(--font-size));
			font-weight: bold;
		}
		.payment{
			padding-top: 60px;
			margin-top: 100px;
			border-top: 1px #eaeaea solid;
			ul{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: start;
				li{
					margin-right: 35px;
					&:last-child{
						margin-right: 0;
					}
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.kv-img{
		width: calc(50vw - 30px);
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		img{
			width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 1327px) {
		.kv-desc{
			width: 50%;
			p.title{
				font-size: calc(5 * var(--font-size));
			}
			p.desc{
				font-size: calc(2 * var(--font-size));
			}
			.payment{
				ul{
					li{
						margin-right: 20px;
						img{
							width: auto;
							height: 25px;
						}
					}
				}
			}
		}
		.kv-img{
			img{
				width: 120%;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		padding-top: 40px;
		.kv-desc{
			p.title{
				font-size: calc(4.5 * var(--font-size));
			}
		}
	}

	@media screen and (max-width: 768px) {
		padding-top: 40px;
		.center{
			flex-direction: column;
		}
		.kv-desc{
			width: 100%;
		}
		.kv-img{
			width: 100%;
			margin-top: 80px;
			position: relative;
			transform: translateY(0%);
			img{
				width: 100%;
				height: auto;
			}
		}
	}

	@media screen and (max-width: 516px) {
		padding-top: 20px;
		.kv-desc{
			// width: 50%;
			p.title{
				font-size: calc(3.2 * var(--font-size));
			}
			p.desc{
				font-size: calc(1.6 * var(--font-size));
			}
			a.cta-btn{
				padding: 12px 28px;
				font-size: calc(1.6 * var(--font-size));
			}
			.payment{
				padding-top: 30px;
				margin-top: 60px;
				ul{
					// justify-content: space-between;
					li{
						// margin-right: 0;
						img{
							height: 23px;
						}
					}
				}
			}
		}
		.kv-img{
			width: 100%;
		}
	}
}

/* 關於GASHPay */
.about-block{
	background-color: #F0F5FA;
	h2{
		margin-bottom: 64px;
		font-size: calc(4 * var(--font-size));
		font-weight: 600;
	}
	.item{
		ul{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			li{
				width: calc(100% / 4 - 40px);
				i.icon{
					margin-bottom: 24px;
					font-size: calc(4 * var(--font-size));
					&.pay::before{
						content: '\e900';
					}
					&.safe::before{
						content: '\e903';
					}
					&.bank::before{
						content: '\e908';
					}
					&.stable::before{
						content: '\e90b';
					}
					&.connection::before{
						content: '\e901';
					}
				}
				p.title{
					margin-bottom: 12px;
					font-size: calc(2.4 * var(--font-size));
					font-weight: bold;
				}
				p.desc{
					font-size: calc(1.8 * var(--font-size));
					color: $dark;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.item{
			ul{
				flex-wrap: wrap;
				li{
					width: calc(100% / 2 - 30px);
					margin-bottom: 50px;
					&:nth-child(3), &:nth-child(4){
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 516px) {
		h2{
			margin-bottom: 40px;
			font-size: calc(2.6 * var(--font-size));
		}
		.item{
			ul{
				li{
					width: calc(100% / 2 - 10px);
					i.icon{
						margin-bottom: 16px;
						font-size: calc(3.4 * var(--font-size));
					}
					p.title{
						font-size: calc(2 * var(--font-size));
					}
					p.desc{
						font-size: calc(1.6 * var(--font-size));
					}
				}
			}
		}
	}
}
 

//金流結構
.goldflow-block{
	img{
		display: block;
		max-width: 920px;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	@media screen and (max-width: 768px) {	 
		img{
			width: 90%;
		}
	}

	@media screen and (max-width: 516px) {	 
		img{
			display: block;
			max-width: 920px;
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}


/* 主要服務 */
.service-block{
	.title-h2{
		text-align: center;
	}
	.item{
		ul{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			gap: 25px 24px;
			li{
				width: calc(100% / 3 - 16px);
				min-height: 265px;
				padding: 28px;
				box-sizing: border-box;
				background-color: #fff;
				border-radius: 6px;
				border: 1px #f1f1f1 solid;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
				i.icon{
					margin-bottom: 40px;
					font-size: calc(4.5 * var(--font-size));
					&.ccard::before{
						content: '\e907';
					}
					&.subscription::before{
						content: '\e905';
					}
					&.pay::before{
						content: '\e902';
					}
					&.fast::before{
						content: '\e906';
					}
					&.supermarket::before{
						content: '\e904';
					}
					&.atm::before{
						content: '\e909';
					}
				}
				p.title{
					margin-bottom: 12px;
					font-size: calc(2.2 * var(--font-size));
					font-weight: bold;
				}
				p.desc{
					margin-bottom: 4px;
					font-size: calc(1.8 * var(--font-size));
					color: $dark;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		&.hk ul{
			gap: 0 16px;
			li{
				width: calc(100% / 4 - 12px);
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.item ul li{
			width: calc(100% / 2 - 12px);
		}
		.item.hk ul{
			gap: 25px 24px;

			li{
				width: calc(100% / 2 - 12px);
			}
		}

	}

	@media screen and (max-width: 768px) {
		.title-h2{
			text-align: left;
		}
	}

	@media screen and (max-width: 516px) {
		.item{
			ul{
				gap: 20px 0;
				li{
					width: 100%;
					min-height: auto;
					padding: 24px;
					i.icon{
						margin-bottom: 20px;
						font-size: calc(3.4 * var(--font-size));
					}
					p.title{
						margin-bottom: 12px;
						font-size: calc(2 * var(--font-size));
					}
					p.desc{
						margin-bottom: 4px;
						font-size: calc(1.6 * var(--font-size));
						color: $dark;
					}
				}
			}
			&.hk ul{
				gap: 20px 0;
				li{
					width: 100%;
				}
			}
		}
	}
}


//風險管理
.risk-block{
	.center{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 60px;
	}
	.risk-img{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex: 1;

		.left li, .right li{
			padding: 20px;
			margin-bottom: 20px;
			background-color: #fff;
			border-radius: 15px;
			border: 1px #f1f1f1 solid;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
			&:last-child{
				margin-bottom: 0;
			}
			img{
				display: block;
				width: 100%;
				max-width: 100px;
				height: auto;
			}
		}
		.left{
			display: flex;
			flex: 1;
		}
		.middle{
			display: flex;
			flex: 2;
			margin-top: 45px;
			img{
				display: block;
				width: 100%;
			}
		}
		.right{
			display: flex;
			flex: 1;
			margin-top: 230px;
		}
	}
	.risk-desc{
		flex: 1;
		.title-h2{
			margin-bottom: 70px;
		}
		.item{
			li{
				display: flex;
				align-items: flex-start;
				justify-content: start;
				margin-bottom: 32px;
				&:last-child{
					margin-bottom: 0;
				}
				i.icon{
					margin-top: 3px;
					margin-right: 12px;
					font-size: calc(2.6 * var(--font-size));
					color: $black;
					&::before{
						content: '\e90a';
					}
				}
				.item-desc{
					p.title{
						margin-bottom: 4px;
						font-size: calc(2.2 * var(--font-size));
						font-weight: bold;
					}
					p.desc{
						font-size: calc(1.8 * var(--font-size));
						color: $dark;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.center{
			flex-direction: column;
		}
		.risk-img{
			width: 80%;
			margin-bottom: 60px;
		}
		.risk-desc{
			width: 100%;
		}
	}
	
	@media screen and (max-width: 516px) {
		.risk-img{
			width: 100%;
			margin-bottom: 40px;
			.left li, .right li{
				padding: 10px;
				margin-bottom: 20px;
				img{
					width: 70px;
				}
			}
			.middle{
				img{
					width: 100%;
				}
			}
		}
		.risk-desc{
			.title-h2{
				margin-bottom: 40px;
			}
			.item{
				li{
					margin-bottom: 20px;
					i.icon{
						margin-right: 10px;
						font-size: calc(2.4 * var(--font-size));
					}
					.item-desc{
						p.title{
							font-size: calc(2 * var(--font-size));
						}
						p.desc{
							font-size: calc(1.6 * var(--font-size));
						}
					}
				}
			}
		}
	}
}


/* 使用步驟 */
.starter-block{
	padding-bottom: 0;
	background-color: #F0F5FA;
	&::after{
		display: block;
		content: '';
		width: 100%;
		height: 200px;
		margin-top: -200px;
		background-color: #FBFBFB;
	}
	.title-h2{
		text-align: center;
		margin-bottom: 75px;
	}
	.item{
		margin-bottom: 80px;
		ul{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			li{
				width: calc(100% / 3 - 40px);
				p.step{
					font-size: calc(2 * var(--font-size));
					font-weight: bold;
					color: $primary;
				}
				p.title{
					margin-bottom: 12px;
					font-size: calc(2.4 * var(--font-size));
					font-weight: 600;
				}
				p.desc{
					font-size: calc(1.8 * var(--font-size));
					color: $dark;
				}
			}
		}
	}
	.connect{
		width: 100%;
		max-width: 1440px;
		padding: 60px 0;
		border: 1px #1E2333 solid;
		border-radius: 6px;
		background-image: url(../img/bg-connect.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
		position: relative;

		div{
			text-align: center;
			p{
				margin: 0 auto 40px;
				font-size: calc(5 * var(--font-size));
				font-weight: bold;
				color: #fff;
				text-align: center;
			}

			.form{
				width: 80%;
				margin: 0 auto 40px;

				ul{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					gap: 40px 20px;
				}

				li{
					width: calc(100% / 2 - 10px);

					&:last-child{
						width: 100%;
					}

					label{
						display: block;
						margin-bottom: 4px;
						font-size: calc(1.8 * var(--font-size));
						color: #fff;
						text-align: left;
					}
					input, textarea{
						width: 100%;
						padding: 12px;
						font-size: calc(1.4 * var(--font-size));
						color: $black;
						background-color: #fff;
						border-radius: 4px;
						border: none;
						resize: none;

						&::placeholder{
							color: $secondary;
						}
					}
					.error{
						display: block;
						margin-top: 8px;
						font-size: calc(1.4 * var(--font-size));
						color: $error;
						text-align: left;
					}
				}
			}

			button.cta-btn{
				padding: 16px 40px;
				font-size: calc(2 * var(--font-size));
				font-weight: 600;
				cursor: pointer;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.title-h2{
			text-align: left;
			margin-bottom: 70px;
		}
		.item{
			margin-bottom: 60px;
			ul{
				li{
					width: calc(100% / 3 - 20px);
				}
			}
		}
		.connect{
			div{
				p{
					font-size: calc(4.4 * var(--font-size));
				}
				.form{
					width: 90%;
	
					li{
						width: 100%;
					}
				}
			}
		}
	}

	@media screen and (max-width: 516px) {
		&::after{
			height: 80px;
			margin-top: -80px;
		}
		.title-h2{
			margin-bottom: 40px;
		}
		.item{
			margin-bottom: 18px;
			ul{
				flex-direction: column;
				li{
					width: 100%;
					margin-bottom: 32px;
					p.step{
						font-size: calc(1.4 * var(--font-size));
					}
					p.title{
						margin-bottom: 8px;
						font-size: calc(2 * var(--font-size));
					}
					p.desc{
						font-size: calc(1.6 * var(--font-size));
					}
				}
			}
		}
		.connect{
			padding: 40px 0;
			div{
				padding: 0 30px;

				p{
					margin: 0 auto 24px;
					font-size: calc(3 * var(--font-size));
					text-align: left;
				}

				.form{
					width: 100%;
					padding: 0;
					margin-bottom: 28px;

					ul{
						gap: 28px;
					}

					li{
						label{
							font-size: calc(1.6 * var(--font-size));
						}
						input, textarea{
							font-size: calc(1.6 * var(--font-size));
						}
					}
				}

				button.cta-btn{
					padding: 12px 32px;
					font-size: calc(1.6 * var(--font-size));
				}
			}
		}
	}
}


