/* layout */
body {
	font-family: 'Arial', '微軟正黑體', 'Noto Sans TC', sans-serif;
	line-height: 1.4;
	background-color: #FBFBFB;
	touch-action: manipulation; //禁止double-tap手勢
	&.hidden{
		overflow: hidden;
	}
}

.center{
	width: calc(100% - 40px);
	max-width: 1180px;
	margin: 0 auto;
}

.desk{
	display: block;
}
.mobile{
	display: none;
}

main{
	margin-top: 90px;
	section{
		padding: 90px 0;
	}
	.anchor-point{
		transform: translateY(-40px);
	}

	@media screen and (max-width: 768px) {
		section{
			padding: 70px 0;
		}
		.anchor-point{
			transform: translateY(-50px);
		}
	}

	@media screen and (max-width: 516px) {
		section{
			padding: 50px 0;
		}
	}
}


/* header */
header {
	width: 100%;
	box-sizing: border-box;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	.center{
		max-width: 1280px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	h1{
		img{
			width: 160px;
			height: auto;
			transform: translateY(2px);
		}
	}
	nav{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
		ul{
			display: flex;
			flex-direction: row;
			a{
				margin: 0 15px;
				font-size: calc(1.6 * var(--font-size));

				@media (hover: hover){
					&:hover{
						color: $secondary;
					}
				}
			}
		}
	}
	.right{
		display: flex;
		flex-direction: row;
	}
	.account{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		.language{
			position: relative;
			button{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 0;
				background: none;
				cursor: pointer;

				i.ic-language{
					width: calc(2 * var(--font-size));
					height: calc(2 * var(--font-size));
					background-image: url(../img/icon/ic-language.svg);
					background-size: 100% auto;
					background-repeat: no-repeat;
					transition: all .5s;
				}
				p{
					margin: 0 8px;
					font-size: calc(1.6 * var(--font-size));
					line-height: normal;
					transition: all .5s;
				}
				i.ic-arrow{
					width: calc(1 * var(--font-size));
					height: calc(1 * var(--font-size));
					background-image: url(../img/icon/ic-arrow.svg);
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: center;

					transition: all .5s;

					&.rotate-180{
						transform: rotate(-180deg);
						transition: all .5s;
					}
				}

				@media (hover: hover){
					&:hover{
						i.ic-language{
							background-image: url(../img/icon/ic-language_h.svg);
							transition: all .5s;
						}
						p{
							color: $secondary;
							transition: all .5s;
						}
						i.ic-arrow{
							background-image: url(../img/icon/ic-arrow_h.svg);
							transition: all .5s;
						}
					}
				}
			}
			ul{
				display: none;
				width: calc(100% + calc(5 * var(--font-size)));
				margin: calc(1.2 * var(--font-size)) auto 0;
				padding: calc(2.4 * var(--font-size)) calc(2 * var(--font-size));
				border-radius: 12px;
				background: #FBFBFB;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
				font-size: calc(1.8 * var(--font-size));
				position: absolute;
				top: calc(2.4 * var(--font-size));
				right: 50%;
				transform: translate(50%, 0);
				li{
					text-align: center;
					a{
						display: block;
						margin: 0;
						padding: calc(.8 * var(--font-size)) calc(.6 * var(--font-size));
						border-radius: 4px;
						color: $black;
						@media (hover: hover){
							&:hover{
								background-color: #EFF0F2;
							}
						}
					}
				}
			}
		}
		a{
			font-size: calc(1.6 * var(--font-size));
			@media (hover: hover){
				&:hover{
					color: $secondary;
				}
			}
			&.singin{
				padding: 2px 0 2px calc(2 * var(--font-size));
				margin-left: calc(2 * var(--font-size));
				border-left: 1px solid #D0D5DD;
			}
			&.cta-btn{
				display: none;
				margin-left: calc(2 * var(--font-size));
				padding: 14px 32px;
				font-weight: 500;
				color: #fff;
			}
		}
	}

	.nav-icon {
		width: 45px;
		height: 45px;
		background: none;
		position: relative;
		transform: rotate(0deg);
		// -webkit-transform: rotate(0deg);
		// -moz-transform: rotate(0deg);
		// -o-transform: rotate(0deg);
		transition: .5s ease-in-out;
		// -webkit-transition: .5s ease-in-out;
		// -moz-transition: .5s ease-in-out;
		// -o-transition: .5s ease-in-out;
		cursor: pointer;
	
		span{
			display: block;
			width: 60%;
			height: 3px;
			margin: 0 auto;
			background-color: $black;
			opacity: 1;
			position: absolute;
			left: 0;
			right: 0;
	
			transform: rotate(0deg);
			// -webkit-transform: rotate(0deg);
			// -moz-transform: rotate(0deg);
			// -o-transform: rotate(0deg);
			transition: .25s ease-in-out;
			// -webkit-transition: .25s ease-in-out;
			// -moz-transition: .25s ease-in-out;
			// -o-transition: .25s ease-in-out;
			&:nth-child(1) {
				top: 14px;
			}
			&:nth-child(2), &:nth-child(3){
				top: 22px;
			}
			&:nth-child(4) {
				top: 30px;
			}
		}
		&.open{
			span{
				&:nth-child(1){
					top: 18px;
					width: 0%;
					left: 50%;
				}
				&:nth-child(2){
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:nth-child(3){
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				&:nth-child(4){
					top: 18px;
					width: 0%;
					left: 50%;
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.desk{
			display: none;
		}
		.mobile{
			display: block;
		}
		h1{
			z-index: 1;
			img{
				width: 130px;
			}
		}
		nav{
			display: none;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding-top: 160px;
			background-color: #FFF;
			position: fixed;
			top: 0;
			left: 0;
			&.open{
				display: block;
				transform: translate(0);
			}
			ul{
				flex-direction: column;
				width: calc(100% - 60px);
				margin: 0 auto;
				li{
					margin-bottom: 32px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				a{
					margin: 0;
					font-size: calc(1.8 * var(--font-size));
					&.cta-btn{
						padding: 12px 32px;
						font-weight: 500;
					}
				}
			}
		}
		.account{
			margin-right: 12px;
			.language{
				button{
					i.ic-language{
						width: calc(2.8 * var(--font-size));
						height: calc(2.8 * var(--font-size));
					}
					p{
						display: none;
					}
					i.ic-arrow{
						display: none;
					}
				}
				ul{
					display: none;
					width: calc(100% + calc(11 * var(--font-size)));
					padding: calc(1.6 * var(--font-size)) calc(1.2 * var(--font-size));
					margin: calc(2 * var(--font-size)) auto 0;

					li a{
						padding: calc(1.2 * var(--font-size));
					}
				}
			}
			a{
				&.singin{
					display: none;
				}
				&.cta-btn{
					display: none !important;
				}
			}
		}
	}
}


/* footer */
footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 0;
	border-top: 1px #ddd solid;
	&.center{
		max-width: 1280px;
		margin-top: 100px;
	}
	.sitemap{
		ul{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			li{
				margin-right: 32px;
				a{
					font-size: calc(1.5 * var(--font-size));
					@media (hover: hover){
						&:hover{
							color: $secondary;
						}
					}
				}
			}
		}
	}
	p.copyright{
		font-size: calc(1.2 * var(--font-size));
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		&.center{
			margin-top: 80px;
		}
		.sitemap{
			width: 100%;
			margin-bottom: 30px;
			ul{
				li{
					a{
						font-size: calc(1.5 * var(--font-size));
						@media (hover: hover){
							&:hover{
								color: $secondary;
							}
						}
					}
				}
			}
		}
		p.copyright{
			width: 100%;
		}
	}

	@media screen and (max-width: 516px) {
		.sitemap{
			ul{
				flex-wrap: wrap;
				flex-direction: row;
				li{
					width: calc(100% / 2);
					margin: 0 0 24px;
					&:nth-child(3), &:nth-child(4){
						margin-bottom: 0;
					}
					a{
						font-size: calc(1.5 * var(--font-size));
						@media (hover: hover){
							&:hover{
								color: $secondary;
							}
						}
					}
				}
			}
		}
		p.copyright{
			font-size: calc(1.2 * var(--font-size));
		}
	}
}


/* 條款 */
.center.terms{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 180px;

	@media screen and (max-width: 516px) {
		width: 100%;
		margin-top: 90px;
		flex-direction: column;
	}
}

aside{
	min-width: 225px;
	position: sticky;
	top: 160px;
	ul{
		li{
			padding: 20px 16px;
			border-bottom: 1px #ddd solid;
			&:first-child{
				border-top: 1px #ddd solid;
			}
			&.active a{
				font-weight: bold;
				color: $primary;
			}
			a:hover{
				color: $secondary;
			}
		}
	}

	@media screen and (max-width: 768px) {
		min-width: 25%;
		width: 25%;
	}

	@media screen and (max-width: 516px) {
		min-width: 100%;
		width: 100%;
		margin-bottom: 40px;
		background-color: #E3F0FA;
		top: 77px;
		z-index: 8;
		ul{
			padding: 0 20px;
			display: flex;
			white-space: nowrap;
			overflow-y: hidden;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
			li{
				border: none;
				padding: 12px 0;
				margin-right: 16px;
				&:first-child{
					border: none;
					padding-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				&.active{
					border-bottom: 3px $primary solid;
				}
				a{
					font-size: calc(1.4 * var(--font-size));
				}
			}
		}
	}
}

article{
	width: calc(100% - 280px);
	h3{
		margin-bottom: 40px;
		font-size: calc(3.4 * var(--font-size));
		font-weight: bold;
	}
	p{
		font-size: calc(1.6 * var(--font-size));
		color: $dark;
		line-height: 1.6;
	}
	section{
		padding: 0;
		margin-top: 40px;
		h4{
			margin-bottom: 16px;
			font-size: calc(2.6 * var(--font-size));
		}
		li{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 8px;
			span{
				margin-right: 8px;
				font-weight: bold;
			}
			.desc{
				display: block;
				width: 100%;
				p{
					line-height: 1.4;
				}
				.desc-box{
					margin-top: 8px;
				}
			}
		}
		.img{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin: 40px 0 0;
			img{
				width: calc(100% / 2 - 10px);
			}		
		}
	}

	@media screen and (max-width: 768px) {
		width: calc(100% - 25% - 40px);
	}

	@media screen and (max-width: 516px) {
		width: calc(100% - 40px);
		margin: 0 auto;
		h3{
			margin-bottom: 20px;
			font-size: calc(3 * var(--font-size));
		}
		section{
			h4{
				margin-bottom: 16px;
				font-size: calc(2 * var(--font-size));
			}
			li{
				margin-bottom: 4px;
				.desc{
					.desc-box{
						margin-top: 4px;
					}
				}
			}
			.img{
				flex-direction: column;
				margin: 20px 0 0;
				img{
					width: 100%;
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
				}		
			}
		}
	}
}

